@page "/booking"
@using CarRental.Business
@inject BookingProcessor BProc

<PageTitle>Bookings</PageTitle>

<MudTable Items="@BProc.GetBookings()" Hover="true" Breakpoint="Breakpoint.Sm" >
    <HeaderContent>
        <MudTh>Booking date</MudTh>
        <MudTh>Customer name</MudTh>
        <MudTh>vehicle</MudTh>
        <MudTh>Reg no</MudTh>
        <MudTh>Cost</MudTh>
        <MudTh>Status</MudTh>
        <MudTh>
            
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.BookingDate.ToLongDateString()</MudTd>
        <MudTd DataLabel="SSN">@context.Details.CustomerName</MudTd>
        <MudTd DataLabel="Name">@context.Details.VehicleName</MudTd>
        <MudTd DataLabel="Last Name">@context.Details.VehicleRegistrationNumber</MudTd>
        <MudTd DataLabel="Cost" HideSmall="@true">@(context.TotalCost is null ? "N/A" : context.TotalCost)</MudTd>
        <MudTd DataLabel="status" HideSmall="@true">
            @if (context.TotalCost is null)
            {
                <MudChip Variant="Variant.Filled" Color=@(context.TotalCost is null? Color.Warning : Color.Default)>
                    Open
                </MudChip>
            }
            else
            {
                <MudChip Variant="Variant.Filled" Color=@(context.TotalCost is null? Color.Warning : Color.Default)>
                    Closed
                </MudChip>
            }
        </MudTd>
        <MudTd><MudButton Variant="Variant.Outlined" Size="Size.Small" OnClick="@(() => BProc.ShowHideDetails(context.Id))">
            @((context.Details.ShowDetails)? "Hide" : "Show") Details
        </MudButton></MudTd>
    </RowTemplate>
    <ChildRowContent>
    		@if (context.Details.ShowDetails)
    				{
      <MudTr>
       <td colspan="4">
    	<MudCard Elevation="0" >
    	 <MudCardHeader>
    	  <CardHeaderContent>
    	   <MudText Typo="Typo.body1"><strong>Details for booking with ID @context.Id</strong></MudText>
    	  </CardHeaderContent>
    	 </MudCardHeader>
    	 <MudCardContent Class="pa-6">
    	  <MudTextField Value="@context.BookingDate.ToString()" Label="Booking date/time" ReadOnly="true"/>
    	  <MudTextField Value="@context.PickupDate.ToString()" Label="Pick up time" ReadOnly="true"/>
    	  <MudTextField Value="@context.VehicleId" Label="Vehicle ID" ReadOnly="true"/>
    	  <MudTextField Value="@context.CustomerId" Label="Customer ID" ReadOnly="true"/>
    	 </MudCardContent>
    	</MudCard>
       </td>
      </MudTr>
    		}
    	</ChildRowContent>
</MudTable>
